/* @import url (font) for all pages */
@import url('http://fonts.googleapis.com/css?family=Quicksand');
body{margin: 0;
     padding: 0;
     font-family: 'Quicksand', sans-serif;}


/* h1 for all pages */
h1{ background-color: #000000;
    background-repeat: no-repeat;
    background-position:left;
    padding: 20px;
    color: #FFFFFF;
    margin-bottom:0px;
    box-shadow: 5px;}


/* nav for all pages */
#nav{background-color:  darkgoldenrod;
     padding: 5px 5px 5px 5px;
     text-align: center;
     font-size: 25px;}


/* h2 for headtext of home&buy&rent pages */
h2{ color: black;
    text-align: center;
    font-size: 40pt;
    font-weight: 700;
    margin-top:10px;
    margin-bottom:10px;
    right: 50%;
    text-shadow: 4px 2px darkgoldenrod;}
h3{ color: black;
    text-align: center;
    font-size: 40pt;
    font-weight: 700;
    margin-top:10px;
    margin-bottom:10px;
    right: 50%;
    text-shadow: 4px 2px darkgoldenrod;}


/* h3 for 2nd headtext of sign in page */
h4{ color: black;
    text-align: center;
    font-size: 40pt;
    font-weight: 700;
    margin-top:10px;
    margin-bottom:10px;
    right: 50%;
    text-shadow: 4px 2px darkgoldenrod;}


/* h10&h11&h12 for about us page */
h10{display: block;
    color: black;
    text-align: center;
    font-size: 28pt;
    font-weight: 700;
    margin-top:50px;
    margin-bottom:10px;
    right: 50%;
    text-shadow: 4px 2px darkgoldenrod;}

h11{display: block;
    color: black;
    text-align: center;
    font-size: 28pt;
    font-weight: 700;
    margin-top:10px;
    margin-bottom:10px;
    right: 50%;
    text-shadow: 4px 2px darkgoldenrod;}

h12{display: block;
    color: black;
    text-align: center;
    font-size: 28pt;
    font-weight: 700;
    margin-top:10px;
    margin-bottom:10px;
    right: 50%;
    text-shadow: 4px 2px darkgoldenrod;}



#newacc{
    transform: translate(-85%);
}

    
#OrderImg{margin-top:50px;
    margin-bottom:50px;
    text-align: center;}

.Ordertext{
    font-size: 18pt;
    font-weight: 900;
    text-align: center;}

.Orderchoosebox{
    text-align: center;
    color: white;}

/* search-box for all pages */
.search-box {
 position: absolute;
 top: 12.5%;
 right: 8%;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 40px;
 border-radius: 40px;
 padding: 10px;}

.search-box:hover > .search-txt {
 width: 240px;
 padding: 0 6px;}

.search-box:hover > .search-btn {
 background: white;
 color: black;}

.search-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;}

.search-btn > i {
 font-size: 30px;}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 1.2s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;}







/* galleryContainer for home page */
.galleryContainer{
    width: 100%;
    height: 840px;
    max-width: 95%;
    margin: auto;
    user-select: none;
    box-shadow: 0px 0px 3px 1px #00000078;
    padding: 10px;
    box-sizing: border-box;}
.galleryContainer .slideShowContainer{
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;}
.galleryContainer .slideShowContainer #playPause{
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(playPause.png);
    background-repeat: no-repeat;
    z-index: 5;
    background-size: cover;
    margin: 5px;
    cursor: pointer;}
.galleryContainer .slideShowContainer #playPause:hover{
    opacity: .7;}
.galleryContainer .slideShowContainer .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;}
.galleryContainer .slideShowContainer .imageHolder img{
    width: 100%;
    height: 100%;}
.galleryContainer .slideShowContainer .imageHolder .captionText{
    display: none;}

.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;}
.galleryContainer .slideShowContainer .rightArrow{
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
    background: #000000a8;
    cursor: pointer;}
.galleryContainer .arrow{
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;}
.galleryContainer .arrow.arrowLeft{
    transform: rotateZ(-135deg);}
.galleryContainer .arrow.arrowRight{
    transform: rotateZ(45deg);}
.galleryContainer .slideShowContainer>.captionTextHolder{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: #00000047;
    height: 50px;
    line-height: 50px;
    overflow: hidden;}
.galleryContainer .slideShowContainer>.captionTextHolder>.captionText{
    margin: 0;}
.galleryContainer #dotsContainer{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box;}
.galleryContainer #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 15px;
    background-color: #bbb;
    cursor: pointer;
    transition:background-color 1s;}
.galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;}
.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
    background-color: #717171;;}
.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;}
.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}}
.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;}
.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}}
.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;}
@keyframes slideTextFromBottom {
    from {opacity: 0;margin-top: 100px}
    to {opacity: 1;margin-top: 0px;}}
.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;}
@keyframes slideTextFromTop {
    from {opacity: 0;margin-top: -100px}
    to {opacity: 1;margin-top: 0px;}}








/* card for buy&rent pages */
.card{
    position: absolute;
    top: 85%;
    left: 50%;
    width: 700px;
    height: 510px;
    background: #fff;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%)perspective(20000px);
    box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
    transition: 1s;}
.card:hover{
transform: translate(-50%,-50%)perspective(2000px) rotate(-10deg);
box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);}
.card:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    transform-origin: bottom;
    transform: skewX(-45deg);}
.card:after{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
   transform-origin: left;
    transform: skewY(-45deg);}
.card .imgBox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;}
.card:hover .imgBox{
    transform: rotateY(-135deg);}
.card .details{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;}


/* card2 for buy&rent pages */
.card2{
    position: absolute;
    top: 165%;
    left: 50%;
    width: 700px;
    height: 510px;
    background: #fff;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%)perspective(20000px);
    box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
    transition: 1s;}
.card2:hover{
transform: translate(-50%,-50%)perspective(2000px) rotate(-10deg);
box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);}
.card2:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    transform-origin: bottom;
    transform: skewX(-45deg);}
.card2:after{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
   transform-origin: left;
    transform: skewY(-45deg);}
.card2 .imgBox2{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;}
.card2:hover .imgBox2{
    transform: rotateY(-135deg);}
.card2 .details2{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;}







/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}



/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}







/* footer for all pages */
footer{color: whitesmoke;
    background-color: black;
    text-align: center;}
